.nav-pills .nav-item:first-child .nav-link {
    background-color: transparent !important;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.btn-primary{
    width: 150px !important;
    padding: 10px !important;
    margin-top: 35px !important;
}
.bi{
    font-size: 25px !important;
    margin-top: 35px !important;
    color: #4724a5 !important;
    cursor: pointer;
}

.container-fluid{
    background-color: #f5f5f5 !important;
}

.main-footer{
    background-color: #4724a5 !important;
    color: white !important ;
}

p{
    cursor: pointer;
}

h1{
    font-size: 23px !important;
    font-weight: 700 !important;
    padding-bottom: 20px !important;

}
