*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.jcc{
    justify-content: center;
}

.jcs{ 
    justify-content:space-between;
}
.aic{
    align-items: center;
}
.po-rel{
    position: relative;
}
.po-ab{
    position: absolute;
}
.col-100{
    width: 100%;
    /* width: 100%; */
}
.col-50{
    /* width: 50%; */
    width: 100%;
}
.col-33{
    /* width: 33.33%; */
    width: 100%;
}
.col-50{
    /* width: 50%; */
    width: 100%;
}
.col-40{
    /* width: 40%; */
    width: 100%;
}
.col-20{
    /* width: 20%; */
    width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
/*<------------------------------- sec-one-start--------------------------------------> */
.container{
    width: 1200px;
    margin: 0 auto;
}

.row{
    display: flex;
    align-items: center;
}
.navbar{
    /* height: 130px; */
    padding: 10px 0px;
    /* width: 100%; */
    background-image: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9999999999999999) 85%, rgba(0,0,0,0.9999999999999999) 100%);
}

nav{
    width: 100%;
}

.links ul li {
    display: inline-block;
}

.links a{
    /* font-family: 'poppins-light'; */
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 25px;
    padding: 15px;
}

.sec-one {
    /* height: 600px; */
    background-image: url(./img/sec-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.sec-one-text h1{
    font-size: 80px;
    padding: 60px 0px 0px 0px;
    margin:0px 10px 0px 0px ;
    line-height: 70px;
}

.sec-one-text p{
    font-size: 35px;
    /* padding: 0px 5px; */
    margin: 35px 0px 35px 0px;
    line-height: 40px;
}

.btn-1{
    width: 322px;
    padding: 20px;
    margin: 0px 0px 60px 0px;
    border-radius: 32px;
    background-color: #f64b3c;
}

/*<------------------------------- sec-one-end---------------------------------------> */

/*------------------------ sec-two-start------------------------- */

.sec-two-row{
    display: flex;

}
.sec-two-row .col-33{
    text-align: center;
}
.sec-two{
    background-color:#f6eedf;
    background-image: url(./img/sec-2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.sec-two-text h1{
    font-size: 64px;
    color: #f64b3c;
    text-align: center;
    padding: 50px 0px 20px 0px;
    /* margin: 20px 0px ; */
}
.text-any p{
    font-size: 25px;
    color: #f64b3c;
    width: 50%;
    padding: 10px 0px 40px 0px;
    margin: 0 auto;
    
}

.card-2 img{
    border-radius: 50%;
    align-items: center;
    justify-content: center;

    /* padding: 25px 0px; */
}

.sec-two-main h2{
    font-size: 33px;
    text-transform: uppercase;
    color: #f64b3c;
    align-items: center;
    padding: 15px 0px 25px 0px;

}
.sec-two-main p{
    font-size: 25px;
    color: #f64b3c;
    width: 50%;
    padding: 10px 0px 30px 0px;
    margin: 0 auto;
    text-align: center;

}
.sec-two-main{
    padding: 50px 0px;
}

/*------------------------ sec-two-end------------------------- */


/* <!-- ------------------------ sec-three-start------------------------- --> */
.sec-three{
    background-color: #f64b3c;
}
.sec-three-row{
    display: flex;
}
.sec-three-main img{
    width: 400px;
    border-radius: 50%;
    padding: 100px 0px 100px 0px;
}
.sec-three-main h1{
    font-size: 75px;
    color: #ffffff;
    margin: 25px 0px;
}
.sec-three-main p{
    font-size:30px ;
    color: #ffffff;
    margin: 25px 0px;

 
}
.btn-2{
    width: 300px;
    padding: 18px 0px 18px 0px;
    margin: 25px 0px;
    border-radius: 32px;
    font-size: 25px;
    background-color: #ffffff;
    text-transform: uppercase;
    color: #f64b3c;
}


/* <!-- ------------------------ sec-three-end------------------------- --> */

/* <!-- ------------------------ sec-four-start------------------------- --> */

.sec-four{
    background-color:#f6eedf;
    background-image: url(./img/sec-4\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
}
.sec-four-row{
    display: flex;
}
.sec-four-main h1{
    font-size: 75px;
    color: #f64b3c;
    margin: 25px 0px;
}
.sec-four-main p{
    font-size:30px ;
    color: #f64b3c;
    margin: 25px 0px;
}
.btn-1{
    width: 300px;
    padding: 18px 0px 18px 0px;
    margin: 25px 0px;
    border-radius: 32px;
    font-size: 25px;
    background-color: #f64b3c;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
}
.sec-four-main img{
    width: 400px;
    border-radius: 50%;
    padding: 100px 0px 100px 0px;
}

/* <!-- ------------------------ sec-three-end------------------------- --> */
.sec-five{
    background-color: #f64b3c;
}
.sec-five-row{
    display: flex;
}
.sec-five-text h1{
    font-size: 60px;
    color: #ffffff;
    /* margin: 25px 0px; */
    text-align: center;
    padding: 60px 0px 10px 0px;
}
.sec-five-text p{
    font-size:30px ;
    width: 60%;
    color: #ffffff;
    padding:0px 0px 70px 0px;
    margin: 0 auto;
    text-align: center;

}
.sec-five-row img{
    padding: 0px 0px 100px 0px;

}
/* <!-- ------------------------ sec-five-end------------------------- --> */

/* <!-- ------------------------ sec-six-start------------------------- --> */

.sec-six{
    background-color: #f6eedf;
    background-image: url(./img/sec-6-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.sec-six-text h1{
    font-size: 60px;
    color: #f64b3c;
    text-align: center;
    padding: 60px 0px 10px 0px;
}

.sec-six-row{
    display: flex;
}
.sec-six-row h2{
    color: #f64b3c;
    font-size: 30px;
    text-transform: uppercase;
    padding: 60px 0px 10px 0px;
}
.sec-six-row .col-33{
text-align: center;
background-color: #ffffff;
margin: 70px 30px 100px 30px;
}
.sec-six-row h3{
    color: #f64b3c;
    font-size: 25px;
    text-transform: uppercase;  
}
.sec-six-row p{
    margin: 0 auto;
    width: 70%;
    color: #f64b3c;
    font-size: 20px;  
}
.col-33{
    /* background-color: #ffffff; */
    justify-content: space-between;
}
.btn-3{
    width: 125px;
    padding: 18px 0px 18px 0px;
    margin: 25px 0px;
    border-radius: 32px;
    font-size: 15px;
    background-color: #f64b3c;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
}
/* <!-- ------------------------ sec-six-end------------------------- --> */

/* <!-- ------------------------ sec-sevan-start------------------------- --> */

.sec-sevan{
    background-image:linear-gradient( #f64c3cc7, #f64c3cc8, #f64c3cb8) ,url(./img/sec-7.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.sec-sevan-text p{
    font-size: 40px;
    width: 60%;
    color: #ffffff;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    padding: 150px 0px 10px 0px ;
}
.sec-sevan-text h4{
    color: #ffffff;
    font-size: 60px;
    padding: 60px 0px 200px 0px;
    display: flex;
    justify-content: center;
}

/* <!-- ------------------------ sec-sevan-end------------------------- --> */

/* <!-- ------------------------ sec-eight-start------------------------- --> */
.sec-eight{
    background-color: #f6eedf;
    background-image: url(./img/sec-8.png);
    background-repeat: no-repeat;
    background-size: cover;

}
.sec-eight-text h1{
    font-size: 70px;
    color: #f64b3c;
    text-align: center;
    padding: 150px 0px 25px 0px;
}
.sec-eight-text p{
    margin: 0 auto;
    width: 80%;
    color: #f64b3c;
    font-size: 40px;
    text-align: center;
    padding: 15px 0px 25px 0px;

}
.input-fl{
    /* margin: 0 auto; */
    display: flex;
    /* align-items: center;  */
    justify-content: center;
    padding: 40px 0px 200px 0px ;
}
.input-fl input {
    border-radius: 30px 0px 0px 30px;
    padding:20px 300px 20px 20px ;
    background-color: #ffffff;
    border: none;
    outline: none; 
}

.input-fl button{
    color: white; 
    padding: 15px 40px 15px 20px ; 
    background-color: #f64b3c;
    text-transform: uppercase;
    margin: 0 0 0 -15px;
    border: none;
    border-radius:0px 30px 30px 0px;
}
/* <!-- ------------------------ sec-eight-end------------------------- --> */

/* <!----------------------- footer-start -------------------------------------> */
footer{
    padding: 100px 0px 100px 0px;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
}
.main-foot li{
    display: block;

}
.col-40 h5{
    font-size: 30px;
    padding: 30px 0px 10px 0px;
   
}
.col-40 p{
    font-size: 20px;
    width: 80%;
    padding: 0px 0px 10px 10px;
}
.main-foot{
    color: white;
    font-size: 20px;
    display: block;
    margin: 5px 0px ; 
    padding: 0px 0px 20px 5px ;   
}
.foot-icon{
    text-align: left;
}
.foot-icon svg{
  /* padding: 10px; */
  background-color: white;
  border-radius: 50%;
  padding: 4px;
  width: 30px;
  height:30px;
}
.foot-icon ul li{
    display:inline-block;
    padding: 5px;
}

.about-links{
    /* font-family: 'poppins-light'; */
    padding: 10px;
}
.about-links h4{
    padding: 10px;
    font-size: 25px;
}
.about-links ul a{
    color: white;
    padding: 3px 0px;
    text-decoration: none;
}

.about-Services{
    /* font-family: 'poppins-light'; */
    padding: 10px;
}
.about-Services h4{
    padding: 10px;
    font-size: 25px;

}
.about-Services ul a{
    color: white;
    padding: 3px 0px;
    text-decoration: none;
}

.about-Other{
    /* font-family: 'poppins-light'; */
    padding: 10px;
}
.about-Other h4{
    padding: 10px;
    font-size: 25px;

}
.about-Other ul a{
    color: white;
    padding: 3px 0px;
    text-decoration: none;
}


/* <!----------------------- footer-end -------------------------------------> */


/* --------------------media query start---------------------- */
@media(min-width:376px){
    .container{
        width: 320px;
    }
   
    .col-50{
        width: 100%;
    }
    .col-33{
        width: 100%;
    }
    .col-40{
        width: 100%;
    }
    .col-20{
        width: 100%;
    }
}



@media(min-width:576px){
    .container{
        width: 520px;
    }
   
    .col-50{
        width: 100%;
    }
    .col-33{
        width: 100%;
    }
    .col-40{
        width: 40%;
    }
    .col-20{
        width: 50%;
    }
}



@media(min-width:768px){
    .container{
        width: 720px;
    }
   
    .col-50{
        width: 70%;
    }
    .col-33{
        width: 50%;
    }
    .col-40{
        width: 40%;
    }
    .col-20{
        width: 20%;
    }
}




@media(min-width:992px){
    .container{
        width: 950px;
    }
   
    .col-50{
        width: 50%;
    }
    .col-33{
        width: 33.33%;
    }
    .col-40{
        width: 40%;
    }
    .col-20{
        width: 30%;
    }
}




@media(min-width:1200px){
    .container{
        width: 1150px;
    }
   
    .col-50{
        width: 50%;
    }
    .col-33{
        width: 33.33%;
    }
    .col-40{
        width: 40%;
    }
    .col-20{
        width: 20%;
    }
}


@media(min-width:1400px){
    .container{
        width: 1350px;
    }
   
    .col-50{
        width: 50%;
    }
    .col-33{
        width: 33.33%;
    }
    .col-40{
        width: 40%;
    }
    .col-20{
        width: 20%;
    }
}



@media(min-width:1600px){
    .container{
        width: 1550px;
    }
   
    .col-50{
        width: 50%;
    }
    .col-33{
        width: 33.33%;
    }
    .col-40{
        width: 40%;
    }
    .col-20{
        width: 20%;
    }
}
/* --------------------media query send---------------------- */